body {
	background-color: #ffffff;
	color: #444444;
	line-height: 1.5em;
	margin: 0px;
}

.block {
	overflow: hidden;
	border-bottom: 1px solid #ededed;
	padding: 10px;
}
	.block:last-child {
		border-bottom: 0px;
	}

.context {
	opacity: 0.4;
}

.avatar img {
	width: 36px;
	height: 36px;
	background-color: #ededed;
	float: left;
	margin: 1px 0px;
	border-radius: 3px;
}

.content {
	margin-left: 48px;
}

.sender {
	font-weight: bold;
	display: block;
}

.time {
	float: right;
	font-size: 1em;
	opacity: 0;
}

.message:hover .time,
.status:hover .time {
	opacity: .5;
}

/* STATUS */

.status {
	margin-top: -1px;
	border-bottom: 0px;
}
.status .message {
	font-style: italic;
	margin-left: 48px;
}

	.status.away,
	.status.away_message,
	.status.return_away,
	.status.idle,
	.status.return_idle,
	.status.date_separator,
	.status.encryption {
		background: #f3f3f3;
		color: #999999;
	}
	.status.online,
	.status.contact_joined {
		background: #dbf3c3;
		color: #89a76a;
	}
	.status.offline,
	.status.contact_left,
	.status.error,
	.status.timed_out {
		background: #ffd7e1;
		color: #d88c83;
	}
	.status.fileTransferStarted,
	.status.fileTransferCompleted {
		border-bottom: 1px solid #ededed;
		margin-top: 0px;
		color: #888888;
	}
		.status.fileTransferStarted .message,
		.status.fileTransferCompleted .message {
			font-style: normal;
		}
	.status.purple {
		background: #ead3f8;
		color: #9b7ca7;
	}